In [19]:
import sqlite3

conn = sqlite3.connect('tennis_info.db')
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print("Tables:", tables)

Tables: [('tournaments',), ('players',), ('odds',), ('matches',), ('points',), ('stats',)]

In [3]:
table_name = tables[0][0]  # Change this to a valid table name
cursor.execute(f"PRAGMA table_info({table_name});")
columns = cursor.fetchall()
print("Schema:", columns)

Schema: [(0, 'tournament_id', 'INTEGER', 0, None, 1), (1, 'name', 'TEXT', 1, None, 0), (2, 'number_of_sets', 'INTEGER', 1, None, 0), (3, 'surface', 'TEXT', 1, None, 0), (4, 'tiebreak_length', 'INTEGER', 0, None, 0), (5, 'last_tiebreak_length', 'INTEGER', 0, None, 0)]

In [29]:
table_name = tables[0][0]
print(table_name)
query = f"SELECT * FROM {table_name} WHERE name LIKE ?;"
cursor.execute(query, ("%Australian Open%",))
rows = cursor.fetchall()
print(len(rows))
for row in rows:
    print(row)

tournaments
30
(2924, 'Australian Open 2017 WC', 2, 'hard', 7, None)
(2925, 'Australian Open 2017 Women WC', 2, 'hard', 7, None)
(2926, 'Australian Open 2017 Women WC WD', 2, 'hard', 7, None)
(2927, 'Australian Open 2017 WC MD', 2, 'hard', 7, None)
(3339, 'Australian Open 2017 Qual', 2, 'hard', 7, None)
(3346, 'Australian Open 2017 Women Qual', 2, 'hard', 7, None)
(3371, 'Australian Open 2017', 2, 'hard', 7, None)
(3372, 'Australian Open 2017 Women', 2, 'hard', 7, None)
(3462, 'Australian Open 2017 WD', 2, 'hard', 7, None)
(3463, 'Australian Open 2017 MD', 2, 'hard', 7, None)
(3474, 'Australian Open 2017 XD', 2, 'hard', 7, None)
(8072, 'Australian Open Women WC Qual', 2, 'hard', 7, None)
(8073, 'Australian Open WC Qual', 2, 'hard', 7, None)
(8097, 'Australian Open Women WC', 2, 'hard', 7, None)
(8098, 'Australian Open WC', 2, 'hard', 7, None)
(8099, 'Australian Open Women WC WD', 2, 'hard', 7, None)
(8100, 'Australian Open WC MD', 2, 'hard', 7, None)
(8428, 'Australian Open Qual', 2, 'hard', 7, None)
(8432, 'Australian Open Women Qual', 2, 'hard', 7, None)
(8481, 'Australian Open Women WD', 2, 'hard', 7, None)
(8482, 'Australian Open MD', 2, 'hard', 7, None)
(8488, 'Australian Open XD', 2, 'hard', 7, None)
(8824, '2014 Australian Open', 2, 'hard', 7, None)
(13656, 'Australian Open Women', 2, 'hard', 7, None)
(13657, 'Australian Open', 2, 'hard', 7, None)
(37394, '2023 Australian Open Women', 2, 'hard', 7, None)
(39073, 'Australian Open Asia-Pacific WC MD', 2, 'hard', 7, None)
(39074, 'Australian Open Asia-Pacific WC', 2, 'hard', 7, None)
(39075, 'Australian Open Asia-Pacific WC Women WD', 2, 'hard', 7, None)
(39076, 'Australian Open Asia-Pacific WC Women', 2, 'hard', 7, None)

In [31]:
table_name = tables[0][0]
column_name1 = 'number_of_sets'
column_name2 = 'last_tiebreak_length'
t_name = 'Australian Open'
query1 = f"UPDATE {table_name} SET {column_name1} = ? WHERE name = ?;"
query2 = f"UPDATE {table_name} SET {column_name2} = ? WHERE name = ?;"
cursor.execute(query1, (3, t_name))
cursor.execute(query2, (10, t_name))
conn.commit()

In [22]:
table_name = tables[0][0]
print(table_name)
query = f"SELECT * FROM {table_name} WHERE name = ?;"
cursor.execute(query, ("US Open Women",))
rows = cursor.fetchall()
print(len(rows))
for row in rows:
    print(row)

tournaments
1
(11880, 'US Open Women', 2, 'hard', 7, 10)